---
# This is the list of checks that we want to enable.
# We only enable the checks that we want to tackle. This is done by first disabling all checks
# with '*-', and then listing any check we want.
#
# See also https://clang.llvm.org/extra/clang-tidy/ for a description of 'clang-tidy'.
# See also https://clang.llvm.org/extra/clang-tidy/checks/list.html for a complete list of supported checks.
Checks:
    '
    -*,
    bugprone-argument-comment,
    bugprone-assert-side-effect,
    bugprone-assignment-in-if-condition,
    bugprone-bitwise-pointer-cast,
    bugprone-bool-pointer-implicit-conversion,
    bugprone-branch-clone,
    bugprone-chained-comparison,
    bugprone-copy-constructor-init,
    bugprone-dangling-handle,
    bugprone-float-loop-counter,
    bugprone-fold-init-type,
    bugprone-infinite-loop,
    bugprone-incorrect-enable-if,
    bugprone-parent-virtual-call,
    bugprone-reserved-identifier,
    bugprone-string-constructor,
    bugprone-suspicious-semicolon,
    bugprone-suspicious-string-compare,
    bugprone-throw-keyword-missing,
    bugprone-too-small-loop-variable,
    bugprone-undelegated-constructor,
    bugprone-use-after-move,
    cppcoreguidelines-avoid-const-or-ref-data-members,
    cppcoreguidelines-macro-usage,
    cppcoreguidelines-missing-std-forward,
    cppcoreguidelines-owning-memory,
    cppcoreguidelines-prefer-member-initializer,
    cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
    cppcoreguidelines-pro-type-cstyle-cast,
    cppcoreguidelines-pro-type-member-init,
    cppcoreguidelines-rvalue-reference-param-not-moved,
    cppcoreguidelines-slicing,
    cppcoreguidelines-special-member-functions,
    cppcoreguidelines-virtual-class-destructor,
    cppcoreguidelines-use-enum-class,
    google-explicit-constructor,
    llvm-include-order,
    llvm-namespace-comment,
    misc-const-correctness,
    misc-include-cleaner,
    misc-redundant-expression,
    misc-static-assert,
    misc-uniqueptr-reset-release,
    misc-unused-using-decls,
    modernize-deprecated-headers,
    modernize-make-shared,
    modernize-make-unique,
    modernize-pass-by-value,
    modernize-redundant-void-arg,
    modernize-return-braced-init-list,
    modernize-type-traits,
    modernize-unary-static-assert,
    modernize-use-auto,
    modernize-use-constraints,
    modernize-use-default-member-init,
    modernize-use-emplace,
    modernize-use-equals-default,
    modernize-use-equals-delete,
    modernize-use-noexcept,
    modernize-use-nullptr,
    modernize-use-override,
    modernize-use-starts-ends-with,
    modernize-use-std-print,
    modernize-use-transparent-functors,
    modernize-use-using,
    performance-enum-size,
    performance-faster-string-find,
    performance-for-range-copy,
    performance-inefficient-algorithm,
    performance-inefficient-string-concatenation,
    performance-move-const-arg,
    performance-move-constructor-init,
    performance-no-automatic-move,
    performance-noexcept-destructor,
    performance-noexcept-move-constructor,
    performance-noexcept-swap,
    performance-trivially-destructible,
    performance-type-promotion-in-math-fn,
    performance-unnecessary-copy-initialization,
    performance-unnecessary-value-param,
    readability-const-return-type,
    readability-container-contains,
    readability-container-data-pointer,
    readability-container-size-empty,
    readability-duplicate-include,
    readability-identifier-length,
    readability-non-const-parameter,
    readability-qualified-auto,
    readability-redundant-control-flow,
    readability-redundant-inline-specifier,
    readability-redundant-smartptr-get,
    readability-redundant-string-cstr,
    readability-redundant-string-init,
    readability-string-compare,
    readability-use-std-min-max,
    readability-uniqueptr-delete-release
    '

# Any activated check is considered as generating errors.
WarningsAsErrors: '*'

# By default, 'clang-tidy' does not report anything for headers.
# List headers in which we are interested for errors.
#
# Important note:
#   As of version 17, 'clang-tidy' regex support is hazardous. See also
#   https://stackoverflow.com/questions/71797349/is-it-possible-to-ignore-a-header-with-clang-tidy.
#   Therefore, we prefer listing paths in which headers are analyzed.
HeaderFilterRegex:
    '@CMAKE_SOURCE_DIR@\/(kokkos-execution|tests).*'

FormatStyle:
    none
